<h1>Nouveau contact</h1>
<p><u>Nom :</u> {{ contact.nom }}</p>
<p><u>Prenom :</u> {{ contact.prenom }}</p>
<p><u>Telephone :</u> {{ contact.telephone }}</p>
<p><u>Mail :</u> {{ contact.email }}</p>
<p><u>Message :</u> {{ contact.message|raw }}</p>