<footer class="page-footer">
    <div class="footer_top">
        <div class="socials_icons">
            <a  href="https://fr.linkedin.com/" target="_blank">
                <img src="{{ asset('build/logo-linkedin.png') }}" style="width: 6%; height: auto">
            </a>
            <a  href="https://www.facebook.com/" target="_blank">
                <img src="{{ asset('build/facebook.png') }}" style="width: 6%; height: auto">
            </a>
            <a  href="https://www.instagram.com/" target="_blank">
                <img src="{{ asset('build/instgram.webp') }}" style="width: 6%; height: auto;">
            </a>
            <a  href="https://twitter.com/home" target="_blank">
                <img src="{{ asset('build/twitter.webp') }}" style="width: 7%; height: auto;; padding-top: 15px">
            </a>
            <a  href="https://www.pinterest.fr/" target="_blank">
                <img src="{{ asset('build/pinterest-logo.png') }}" style="width: 6%; height: auto" >
            </a>
            <div class="footer_top_content">
                <p>&copy; Site crée par Tristan Matteoli - 2021 - Ynov Aix-en-Provence</p>
            </div>
        </div>
        <div class="newsletter">
                <p>Abonnez-vous à la newsletter afin de ne rien manquer !</p>
                <input type="text"></input>
        </div>
    </div>
</footer>