<header class="header">
    <nav>
        <ul>
            <li style="width:10%;"><img src="{{ asset('build/logo.png') }}"></li>
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li><a href="{{ path('a_propos') }}">A propos</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
            {% if app.user %}
                {% if "ROLE_ADMIN" in app.user.roles %}
                    <li><a href="{{ path('admin') }}">Ma gestion Admin</a></li>
                {% else %}
                    <li><a href="{{ 'account' }}">Mon compte</a></li>
                {% endif %}
            {% else %}
                <li><a href="{{ 'register' }}">Crée un compte</a></li>
            {% endif %}
            {% if app.user %}
                <li>
                    <p>Tu es connecté en tant que {{ app.user.username }}</p>
                    <a href="/logout">Logout</a>
                </li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>